body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    background-color: #1F2937;
    margin-bottom: 50px;
}

.header-left{
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

.header-right{
    list-style: none;
    display: flex;
    gap: 15px;
}

.section-one{
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding-bottom: 75px;
}

.section-hero{
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
}

.hero-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    flex-shrink: 0;
    gap: 10px;
}

.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary{
    font-size: 18px;
    color: #E5E7EB;
}

.signup{
    align-self: baseline;
}


/*Figure out how to create modifiable image element 
.jpeg{
    width: 400px;
    height: 300px;
}
*/

.section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.images{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

/*Figure out how to create modifiable img element for border */
.image-container-one, .image-container-two, .image-container-three, .image-container-four{
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    max-width: 200px;
    max-height: 200px;
}

.section-three{
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
}